<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>servlet.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProceso</servlet-name>
        <servlet-class>servlet.ServletProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletArray</servlet-name>
        <servlet-class>servlet.ServletArray</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/servlet_cliente.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProceso</servlet-name>
        <url-pattern>/servlet_proceso.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletArray</servlet-name>
        <url-pattern>/servlet_array.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
